.t1 {
  --light-gray: #f5f5f5;
  --secondary-color: #7ee8c6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* My Information */

.t1 .inv-num-wrapper::before {
  content: "Invoice #";
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.t1 .inv-num-wrapper {
  display: flex;
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  font-size: 1.5rem;
  padding: 2rem;
}

.t1 .my-info-wrapper {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.invoiceNum-only {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 2rem;
}
.t1 .my-info {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  padding: 2rem;
  text-align: right;
  display: grid;
  gap: 0.5rem;
}

.t1 .my-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Client Information */

@keyframes blinker {
  30% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.t1 .no-client-selected {
  animation: blinker 2s linear infinite;
}

.t1 .client-info-wrapper {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  padding: 2rem;
  border-top: 1px solid var(--light-gray);
  font-size: 0.9rem;
}

.t1 .client-info {
  display: grid;
  gap: 0.5rem;
}

.t1 .client-name::before {
  content: "Bill to";
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

/* Invoice information */
.t1 .invoice-info-wrapper {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  padding: 2rem;
  display: grid;
  gap: 0.5rem;
  text-align: right;
  font-size: 0.9rem;
}

.t1 .invoice-num {
  border: none;
  background-color: transparent;
  text-align: right;
  font-size: 1rem;
  width: 40%;
  background-color: var(--light-gray);
  padding: 0.5rem;
}
.t1 .invoice-num-wrapper::before {
  content: "Invoice Number";
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .invoice-date-wrapper::before {
  content: "Invoice Date";
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.t1 .invoice-date {
  padding: 0.5rem;
  border: none;
  width: 40%;
  text-align: right;
  font-size: 1rem;
  background-color: var(--light-gray);
}

.t1 .invoice-due-wrapper::before {
  content: "Due Date";
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.t1 .invoice-due {
  padding: 0.5rem;
  border: none;
  width: 40%;
  text-align: right;
  font-size: 1rem;
  background-color: var(--light-gray);
}

/* Table */
.t1 .invoice-table-wrapper {
  grid-column: 1 / 6;
  grid-row: 3 / 5;
  padding: 2rem;
}

.t1 .invoice-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.t1 .invoice-table thead {
  background-color: var(--secondary-color);
}

.t1 .invoice-table-wrapper th {
  padding: 0.5rem;
  font-weight: bold;
  text-align: left;
  border: 1px solid var(--light-gray);
}
.t1 .invoice-table tr th:nth-child(1) {
  width: 20%;
}
.t1 .invoice-table tr th:nth-child(3) {
width: 12%;
}
.t1 .invoice-table tr th:nth-child(4) {
width: 15%;
}

.t1 .invoice-table tr th:nth-child(5) {
  text-align: right;
  width: 15%;
}

.t1 .invoice-table td {
  padding: 0.5rem;
  border: 1px solid var(--light-gray);
}

.t1 .invoice-table td:nth-child(5) {
  text-align: right;
}

.t1 .invoice-table select {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem;
}
.t1 .invoice-table input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem;
}

.t1 .invoice-table-extra {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: right;
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}
.t1 .invoice-table-extra .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--light-gray);
  padding: 0 0.5rem 0 0.5rem;
}

.t1 tr.subtotal{
  /* height: 0rem; */
}

.t1 .invoice-table-extra .subtotal .subtotal-label::before {
  content: "Subtotal";
  margin-right: 1rem;
}

.t1 button.add-table-row-btn {
  margin-top: 0;
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #55bfe9;
  cursor: pointer;
  &:hover {
      background-color: #4aa9d6;
  }
  &:active {
      background-color: #3e93c3;
  }
}

.invisible {
  display: none;
}

.t1 .invoice-table-extra .tax td::before {
  content: "Tax";
  margin-right: 1rem;
}

.t1 .invoice-table-extra .tax {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding: 0.5rem;
}

.t1 .invoice-table-extra .tax input {
  width: 30%;
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
  background-color: var(--light-gray);
}

.t1 .tax-value {
  display: inline;
}

.t1 .invoice-table-extra .tax td {
  margin-left: auto;
  display: inline;
}
.t1 .invoice-table-extra .total::before {
  content: "Total";
  margin-right: 1rem;
}

.t1 .invoice-table-extra .total {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Footer */
.t1 .contact-wrapper {
  grid-column: 1 / 6;
  grid-row: 6 / 6;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 0.8rem;
}

.t1 .contact-info {
  padding: 2rem;
}

.t1 .contact-info::before {
  content: "Contact";
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.t1 .contact-phone::before {
  content: "Phone";
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .contact-phone {
  margin-bottom: 0.5rem;
}

.t1 .contact-email::before {
  content: "Email";
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .contact-email {
}

.t1 .bank-info-wrapper {
  grid-column: 1 / 6;
  grid-row: 6 / 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 0.8rem;
  margin: auto 0;
}

.t1 .bank-info {
  grid-column: 5 / 7;
  padding: 2rem;
  margin-left: -3rem;
  text-align: right;
}

.t1 .bank-info::before {
  content: "Bank Information";
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.t1 .bank-name::before {
  content: "Bank";
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .bank-name {
  margin-bottom: 0.5rem;
}

.t1 .bank-iban::before {
  content: "IBAN";
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .bank-iban {
  margin-bottom: 0.5rem;
}

.t1 .bank-bic::before {
  content: "BIC";
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.t1 .bank-bic {
}
