.invoice-list  {
    padding: 1rem;
}

.invoice-list>h2{
    margin-bottom: 1rem;
}

.invoice-list>table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-list>table th {
    text-align: left;
    padding: 0.5rem;
    background-color: #41da90;
}

.invoice-list>table th:nth-child(1) {
    width: 10%;
}

.invoice-list .invoice-item td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    cursor: pointer;
}

.invoice-item:hover {
    background-color: #ccc;
}

.mark-as-paid {
    padding: 2rem 0.5rem 2rem 0.5rem;
    display: flex;
    align-items: baseline;
}

.mark-as-paid label {
    display: flex;
    align-items: baseline;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 1rem;
}
.mark-as-paid button {
    display: block;
    margin-left: 304px;
}

.paid-date-input {
    padding: 0.5rem;
    width: 200px;
    font-size: 1rem;
}
