.invoice-wrapper {
    padding: 1rem;
}

.invoice-h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.invoice-button-wrapper {
    display: flex;
    max-width: 210mm;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}
.invoice-button-wrapper select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.invoice-button-wrapper option {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save-export-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}   

.new-invoice {
    width: 210mm;
    height: 297mm;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media print {
    body * {
      visibility: hidden;
    }
  
    .new-invoice, .new-invoice * {
      visibility: visible;
    }
  
    .new-invoice {
      position: absolute;
      left: 0;
      top: 0;
    }
  }