.settings {
    padding: 1rem;
}

.settings-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.settings h2{
    margin-bottom: 1rem;
}
.editcompanyinfo h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.editcompanyinfo input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.services h4 {
     margin-top: 1rem;
}
.service {
    display: flex;
    gap: 1rem;
    align-items: last baseline;
    margin-bottom: 0.5rem;
}
.service input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
label {
    font-size: smaller;
}

.service .savebtn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #41da90;
    cursor: pointer;
    &:hover {
        background-color: #3bc47d;
    }
    &:active {
        background-color: #2ea362;
    }
}

.service .deletebtn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #d65c53;
    cursor: pointer;
    &:hover {
        background-color: #e53935;
    }
    &:active {
        background-color: #d32f2f;
    }
}

.addservicebtn {
    margin-top: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #55bfe9;
    cursor: pointer;
    &:hover {
        background-color: #4aa9d6;
    }
    &:active {
        background-color: #3e93c3;
    }
}

