.settings {
    padding: 1rem;
}

.settings-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.settings>h2{
    margin-bottom: 1rem;
}
.editcompanyinfo>h4,
.editbankinfo>h4,
.editcontactinfo>h4{
    margin-bottom: 1rem;
}
.editcompanyinfo,
.editbankinfo,
.editcontactinfo {
    margin-bottom: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
    display: grid;
}

.editcompanyinfo input,
.editbankinfo input,
.editcontactinfo input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.editcompanyinfo button,
.editbankinfo button,
.editcontactinfo button {
    margin-bottom: auto;
}