* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    background-color: #f4f4f4;
}

.app {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.side-bar {
    width: 250px;
    min-height: 100vh;
    background-color: #205f88;
    padding: 2rem;
    color: #fff;
}

.side-bar-links {
    margin-top: 2rem;
    display: grid;
}

.side-bar-links a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: all 0.15s ease-in-out;

}

.side-bar-links a:hover {
    background-color: #4c7aa6;
    font-weight: bold;
    transform: scale(1.1);
}
.side-bar-links a.active {
    background-color: #4c7aa6;
    font-weight: bold;
}
.content {
    width: 100%;
    margin: 1rem;
}
.green-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #41da90;
    margin-top: 1rem;
    &:hover {
        background-color: #35ba7a;
    }
    &:active {
        background-color: #2d9e67;
        transform: scale(0.9);
    }
}

.red-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #cb594c;
    margin-top: 1rem;
    &:hover {
        background-color: #b44f44;
    }
    &:active {
        background-color: #aa493f;
        transform: scale(0.9);
    }
}

.blue-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-color: #55bfe9;
    margin-top: 1rem;
    &:hover {
        background-color: #4aa9d6;
    }
    &:active {
        background-color: #3e93c3;
        transform: scale(0.9);
    }
}