* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.app {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.side-bar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.side-bar-links {
    margin-top: 2rem;
    display: grid;
}

.side-bar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

.side-bar-links a:hover {
    background-color: #fff;
    color: #333;
}

.content {
    width: calc(100% - 250px);
    margin: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #4caf50;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #d8d8d8;
}
